@using Lazybank.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lazybank</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
   <div class="container-fluid">
        <div style="width:960px;" class="header">
            <img style=";padding-left:0px;margin-left:0px;" width="930px" src="~/img/header.png">

            <div style="height:25px;padding-top: 0px;margin-top: 0px;padding-bottom: 7px">
                <table style="width:100%;padding-top: 0px;margin-top: 0px;vertical-align:text-top">
                    <tr style="padding-top: 0px;margin-top: 0px;">
                        <td style="padding-top: 0px;margin-top: 0px;"></td>
                        <td style="float:right;padding-top: 0px;margin-top: 0px;padding-right:50px;">
                            @Html.Partial("_LoginPartial")
                        </td>
                    </tr>
                </table>
            </div>
            <br /><br /><br />
            <div id="hero">
                <div class="current"><img height="300px;" width="930px" src="~/img/bank4.jpg"></div>
                <div><img height="300px;" width="930px" src="~/img/bank2.jpg"></div>
                <div><img height="300px;" width="930px" src="~/img/bank1.jpg"></div>
                <div><img height="300px;" width="930px" src="~/img/bank3_people.jpg"></div>
            </div>
        </div>

       @if (this.TempData["Notification"] != null)
       {
           <div class="alert alert-success" role="alert">
               @this.TempData["Notification"]
           </div>
       }

        <nav class="main-navigation" role="navigation">
            <div style="padding-left:40px;">
                <ul id="menu-main-menu" class="nav-menu">

                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>

                    @* Public part *@
                    <li>@Html.ActionLink("Send Feedback", "Create", "Feedbacks", new { area = "Public" }, null)</li>
                    <li>@Html.ActionLink("News", "Index", "NewsArticles", new { area = "Public" }, null)</li>

                    @* Private part *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts Information<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Balance", "Index", "BalanceCheck", new { area = string.Empty }, null)</li>
                                <li>@Html.ActionLink("Movements", "Index", "MovementCheck", new { area = string.Empty }, null)</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Local Currency", "Index", "", new { area = string.Empty }, null)</li>
                                <li>@Html.ActionLink("Budget Payments", "Index", "", new { area = string.Empty }, null)</li>
                                <li>@Html.ActionLink("Transfers", "Create", "TransferPayment", new { area = string.Empty }, null)</li>
                                <li>@Html.ActionLink("Orders Management", "Index", "", new { area = string.Empty }, null)</li>
                                <li>@Html.ActionLink("Orders Archive", "Index", "OrdersArchive", new { area = string.Empty }, null)</li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Update Profile", "", "Manage", new { area = string.Empty }, null)</li>
                    }

                    @* Admin part *@
                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Panel<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create Article", "Create", "NewsArticles", new { area = "Public" }, null)</li>
                                <li>@Html.ActionLink("Feedbacks", "Index", "Feedbacks", new { area = "Administration" }, null)</li>
                            </ul>
                        </li>
                        
                    }
                </ul>
            </div>
        </nav>

        <div>
            @RenderBody()
        </div>

        <div style="display:block;" class="footer">
            &copy; @DateTime.Now.Year - Lazybank<br><br>
            The Lazy Bank is a fictitious brand created by us solely for the purpose of training. All products and people associated with Lazy Bank are also fictitious.
            Any resemblance to real brands, products, or people is purely coincidental.
            Information provided about the product is also fictitious and should not be construed to be representative of actual products on the market in a similar product category.
        </div>
    </div>

    <script type="text/javascript">
         $(function () {
             // create the image rotator
             setInterval("rotateImages()", 3000);
         });

         function rotateImages() {
             var oCurPhoto = $('#hero div.current');
             var oNxtPhoto = oCurPhoto.next();
             if (oNxtPhoto.length == 0)
                 oNxtPhoto = $('#hero div:first');

             oCurPhoto.removeClass('current').addClass('previous');
             oNxtPhoto.css({ opacity: 0.0 }).addClass('current')
                    .animate({ opacity: 1.0 }, 1000,
                                function () {
                                    oCurPhoto.removeClass('previous');
                                });
         }
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
